.blog-tags a {
  @apply font-bold underline text-baby-blue;

  &:hover {
    @apply text-black;
  }
}

#searchBox {
  border: 2px solid black;
  border-radius: 5px;
}

.searchResultPage {
  padding: 15px 0;
}

.searchResultTitle {
  color: #89e9f0 !important;
}

::-moz-selection {
  color: white;
  background: #89e9f0;
}

::selection {
  color: white;
  background: #89e9f0;
}